
:root 
{
  --purple: 	#00001dcc;
  --purple-dark: 	#00001dd1;
  --purple-darker:	#00001deb;
  --purple-darkest:	#00001d;
  --purple-light: 	#11113d;
  --purple-lighter: #11113daa;
  --red-dark:  	#800000;
  --purple-ulta-light:#cce6ff;
}

body
{
  /*background-color: var(--purple-lighter);*/
  background-image: linear-gradient(
                    to right, 
                    var(--purple-lighter) 0%,
                    var(--purple-light) 35%, 
                    var(--purple-darker) 45%,
                    var(--purple-darker) 50%,
                    var(--purple-darker) 55%,
                    var(--purple-light) 65%,  
                    var(--purple-lighter) 100%
                  );
}
body a 
{
    color: var(--red-dark);
}

#sync
{
    width:40px;
    height:40px;
    padding:0;
    margin:10px;
    margin:20,10;
}

.bg-purple-darker
{
	background-image: linear-gradient(
										to right, 
										var(--purple-darker) 5%, 
										var(--purple-darkest) 10%,
										var(--purple-darkest) 95%,  
										var(--purple-darker) 100%
									);
}
.bg-purple-dark
{
	background-image: linear-gradient(
										to right, 
										var(--purple-dark) 0%, 
										var(--purple-darker) 25%,
										var(--purple-darker) 75%,  
										var(--purple-dark) 100%
									);
}
img
{
    width: 100%;
}


.container
{
	min-width:95%;
}

.panel-title
{
	font-size: 1.75rem;
}


/********************************************************************/
/********************************************************************/
/* 			Прячем кнопки изменения заголовка и удаления статьи		*/
/********************************************************************/
/********************************************************************/


.article
{
  	position: relative;
  	align-self: center;
  	width:90%;
    margin:0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0px;
  	transition: .5s ease;
}
.article button
{
  	height:100%;
  	margin:0px;
  	padding: 10px;
}
.spoiler 
{

  	position: relative;
  	display: block;
  	width: 100%;
  	height: auto;
  	transition: .5s ease;
}
.clickable
{
    cursor: pointer;
}
.panel-body
{
  display: none;
}

.article-overlay 
{
    visibility: hidden;
  	margin:0;
  	right: 100%;
  	overflow: hidden;
  	width: 0;
  	height:100%;
  	transition: .5s ease;
}

.article-rollup
{
    margin:0;
    overflow: hidden;
    width: 0;
    transition: .5s ease;
}


.article:hover .article-overlay 
{
  	width: 50px;
    visibility: visible;
}	

.article:hover
{

  	width:100%;
}


/********************************************************************/
/********************************************************************/
/* 				Прячем кнопку смены изображения 					*/
/********************************************************************/
/********************************************************************/

.hidden_edit
{
  	margin-top: 100px;
  	position: relative;
  	border:2px;
  	border-style: solid;
  	border-color: black;
}

.image 
{
  	display: block;
  	width: 100%;
  	height: auto;
  	transition: .5s ease;
}

.img-overlay 
{
	 margin:0;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	overflow: hidden;
  	width: 100%;
  	height: 0;
  	transition: .5s ease;
}
.img-overlay button 
{
  	margin: 5px;
    height: 50px;
}

.hidden_edit:hover .img-overlay  
{
	height: 100px;
}
	
.hidden_edit:hover .image 
{

	transform: translateY(-100px);
}

.searching
{
    background-color: var(--purple-ulta-light);
}

.active{
    background-color:var(--purple-ulta-light);
    background-size:cover;
    border-left:1px solid #333;
    border-top:1px solid #333;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

.article  .selection
{

    height:200px;
    width:0;
}
#mass_clear
{
  display: none;
}
