
<nav class ="navbar navbar-expand-xl navbar-dark sticky-top bg-purple-dark">
    <a href="#pictures" class="navbar-brand">
        <h3 class="px-5">
            <i class="fas fa-newspaper"></i> Статьи
        </h3>
    </a>
    
    <button class ="navbar-toggler " type ="button" data-toggle ="collapse" data-target ="#colNav">
        <span class ="navbar-toggler-icon"></span>
    </button>
    
    <div class ="collapse navbar navbar-collapse" id ="colNav">
        <ul class ="navbar-nav">
            <!-- Из-за того что сам заголовок перекрывает верхнюю часть экрана, все прыжки мы делаем чуть выше -->
            <li class ="nav-item">
                <a class ="nav-link" href ="#"> История</a>
            </li>
            <li class ="nav-item">
                <a class ="nav-link" href="#history">Сортировка</a>
            </li>
            <li class ="nav-item">
                <a class ="nav-link" href ="#sort"> Статьи </a>
            </li>
        </ul>
    </div>


    <button class="btn btn-danger" onclick="exit()">Exit</button>
</nav>
